.skeleton-loader {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeleton {
  background: linear-gradient(90deg, #d7d7d7 25%, #f3f3f3 50%, #d7d7d7 75%);
  background-size: 200% 100%;
  animation: loading 3s infinite linear;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
